--
-- PostgreSQL database dump
--

-- Dumped from database version 16.15 (Ubuntu 16.15-0ubuntu0.24.04.1)
-- Dumped by pg_dump version 17.0

-- Started on 2026-09-29 22:19:39

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- TOC entry 2 (class 3079 OID 49154)
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- TOC entry 3532 (class 0 OID 0)
-- Dependencies: 2
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner:
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- TOC entry 265 (class 1255 OID 49208)
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: test_user
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
   NEW.updated_at = NOW();
   RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO test_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 222 (class 1259 OID 41067)
-- Name: ingestion_runs; Type: TABLE; Schema: public; Owner: test_user
--

CREATE TABLE public.ingestion_runs (
    id uuid NOT NULL,
    started_at timestamp without time zone NOT NULL,
    finished_at timestamp without time zone,
    status character varying(20) NOT NULL,
    error text,
    products_processed integer DEFAULT 0
);


ALTER TABLE public.ingestion_runs OWNER TO test_user;

--
-- TOC entry 216 (class 1259 OID 41022)
-- Name: platforms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.platforms (
    id integer NOT NULL,
    name text NOT NULL,
    url text NOT NULL
);


ALTER TABLE public.platforms OWNER TO postgres;

--
-- TOC entry 217 (class 1259 OID 41027)
-- Name: platforms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.platforms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.platforms_id_seq OWNER TO postgres;

--
-- TOC entry 3534 (class 0 OID 0)
-- Dependencies: 217
-- Name: platforms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.platforms_id_seq OWNED BY public.platforms.id;


--
-- TOC entry 218 (class 1259 OID 41028)
-- Name: price_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.price_history (
    id integer NOT NULL,
    product_id integer NOT NULL,
    price numeric(10,2) NOT NULL,
    recorded_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.price_history OWNER TO postgres;

--
-- TOC entry 219 (class 1259 OID 41032)
-- Name: price_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.price_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.price_history_id_seq OWNER TO postgres;

--
-- TOC entry 3537 (class 0 OID 0)
-- Dependencies: 219
-- Name: price_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.price_history_id_seq OWNED BY public.price_history.id;


--
-- TOC entry 220 (class 1259 OID 41033)
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    platform integer NOT NULL,
    external_id text NOT NULL,
    name text,
    url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- TOC entry 221 (class 1259 OID 41039)
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- TOC entry 3540 (class 0 OID 0)
-- Dependencies: 221
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- TOC entry 224 (class 1259 OID 49210)
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: test_user
--

CREATE TABLE public.refresh_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token_hash text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    is_revoked boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO test_user;

--
-- TOC entry 226 (class 1259 OID 114692)
-- Name: tracking_requests; Type: TABLE; Schema: public; Owner: test_user
--

CREATE TABLE public.tracking_requests (
    id integer NOT NULL,
    tracked_product_id integer,
    tracked_product_price numeric(19,4),
    platform_id integer,
    status character varying(30),
    tracked_at date DEFAULT now()
);


ALTER TABLE public.tracking_requests OWNER TO test_user;

--
-- TOC entry 225 (class 1259 OID 114691)
-- Name: tracking_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: test_user
--

CREATE SEQUENCE public.tracking_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tracking_requests_id_seq OWNER TO test_user;

--
-- TOC entry 3542 (class 0 OID 0)
-- Dependencies: 225
-- Name: tracking_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: test_user
--

ALTER SEQUENCE public.tracking_requests_id_seq OWNED BY public.tracking_requests.id;


--
-- TOC entry 228 (class 1259 OID 114698)
-- Name: tracking_urls; Type: TABLE; Schema: public; Owner: test_user
--

CREATE TABLE public.tracking_urls (
    id integer NOT NULL,
    tracking_request_id integer,
    url character varying(255),
    status character varying(30)
);


ALTER TABLE public.tracking_urls OWNER TO test_user;

--
-- TOC entry 227 (class 1259 OID 114697)
-- Name: tracking_urls_id_seq; Type: SEQUENCE; Schema: public; Owner: test_user
--

CREATE SEQUENCE public.tracking_urls_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tracking_urls_id_seq OWNER TO test_user;

--
-- TOC entry 3543 (class 0 OID 0)
-- Dependencies: 227
-- Name: tracking_urls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: test_user
--

ALTER SEQUENCE public.tracking_urls_id_seq OWNED BY public.tracking_urls.id;


--
-- TOC entry 223 (class 1259 OID 49191)
-- Name: users; Type: TABLE; Schema: public; Owner: test_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255),
    hashed_password text NOT NULL,
    role character varying(20) DEFAULT 'USER'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_superuser boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO test_user;

--
-- TOC entry 3318 (class 2604 OID 57346)
-- Name: platforms id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platforms ALTER COLUMN id SET DEFAULT nextval('public.platforms_id_seq'::regclass);


--
-- TOC entry 3319 (class 2604 OID 57347)
-- Name: price_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_history ALTER COLUMN id SET DEFAULT nextval('public.price_history_id_seq'::regclass);


--
-- TOC entry 3321 (class 2604 OID 57348)
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- TOC entry 3333 (class 2604 OID 114695)
-- Name: tracking_requests id; Type: DEFAULT; Schema: public; Owner: test_user
--

ALTER TABLE ONLY public.tracking_requests ALTER COLUMN id SET DEFAULT nextval('public.tracking_requests_id_seq'::regclass);


--
-- TOC entry 3335 (class 2604 OID 114701)
-- Name: tracking_urls id; Type: DEFAULT; Schema: public; Owner: test_user
--

ALTER TABLE ONLY public.tracking_urls ALTER COLUMN id SET DEFAULT nextval('public.tracking_urls_id_seq'::regclass);


--
-- TOC entry 3519 (class 0 OID 41067)
-- Dependencies: 222
-- Data for Name: ingestion_runs; Type: TABLE DATA; Schema: public; Owner: test_user
--



--
-- TOC entry 3513 (class 0 OID 41022)
-- Dependencies: 216
-- Data for Name: platforms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.platforms (id, name, url) FROM stdin;
1	dummyjson	https://dummyjson.com
\.


--
-- TOC entry 3515 (class 0 OID 41028)
-- Dependencies: 218
-- Data for Name: price_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3517 (class 0 OID 41033)
-- Dependencies: 220
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3521 (class 0 OID 49210)
-- Dependencies: 224
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: test_user
--



--
-- TOC entry 3523 (class 0 OID 114692)
-- Dependencies: 226
-- Data for Name: tracking_requests; Type: TABLE DATA; Schema: public; Owner: test_user
--

COPY public.tracking_requests (id, tracked_product_id, tracked_product_price, platform_id, status, tracked_at) FROM stdin;
\.


--
-- TOC entry 3525 (class 0 OID 114698)
-- Dependencies: 228
-- Data for Name: tracking_urls; Type: TABLE DATA; Schema: public; Owner: test_user
--

COPY public.tracking_urls (id, tracking_request_id, url, status) FROM stdin;
\.


--
-- TOC entry 3520 (class 0 OID 49191)
-- Dependencies: 223
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: test_user
--

COPY public.users (id, username, email, hashed_password, role, is_active, is_superuser, created_at, updated_at) FROM stdin;
6f2c265e-a2db-4df3-9573-a92451b97d27	test	test@mail.com	test	USER	t	t	2026-02-15 00:08:03.209531-06	2026-02-15 00:08:03.209531-06
e43ab729-1895-4836-9438-33c1d02ade13	admin	tilin@tilin.mx	$bcrypt-sha256$v=2,t=2b,r=12$GH77sDOftJtARPb4X1CJtO$74yUgzTXmb0NndgkHUXC2TGhA5/aH/C	USER	t	f	2026-02-17 12:13:24.867204-06	2026-02-17 12:13:28.790726-06
\.


--
-- TOC entry 3544 (class 0 OID 0)
-- Dependencies: 217
-- Name: platforms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.platforms_id_seq', 1, false);


--
-- TOC entry 3545 (class 0 OID 0)
-- Dependencies: 219
-- Name: price_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.price_history_id_seq', 60, true);


--
-- TOC entry 3546 (class 0 OID 0)
-- Dependencies: 221
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 62, true);


--
-- TOC entry 3547 (class 0 OID 0)
-- Dependencies: 225
-- Name: tracking_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: test_user
--

SELECT pg_catalog.setval('public.tracking_requests_id_seq', 1, false);


--
-- TOC entry 3548 (class 0 OID 0)
-- Dependencies: 227
-- Name: tracking_urls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: test_user
--

SELECT pg_catalog.setval('public.tracking_urls_id_seq', 1, false);


--
-- TOC entry 3352 (class 2606 OID 41071)
-- Name: ingestion_runs ingestion_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: test_user
--

ALTER TABLE ONLY public.ingestion_runs
    ADD CONSTRAINT ingestion_runs_pkey PRIMARY KEY (id);


--
-- TOC entry 3337 (class 2606 OID 41044)
-- Name: platforms platforms_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platforms
    ADD CONSTRAINT platforms_name_key UNIQUE (name);


--
-- TOC entry 3339 (class 2606 OID 41046)
-- Name: platforms platforms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platforms
    ADD CONSTRAINT platforms_pkey PRIMARY KEY (id);


--
-- TOC entry 3342 (class 2606 OID 41048)
-- Name: price_history price_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_pkey PRIMARY KEY (id);


--
-- TOC entry 3346 (class 2606 OID 41050)
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- TOC entry 3348 (class 2606 OID 41052)
-- Name: products products_platform_external_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_platform_external_id_key UNIQUE (platform, external_id);


--
-- TOC entry 3365 (class 2606 OID 49219)
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: test_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- TOC entry 3344 (class 2606 OID 41054)
-- Name: price_history unique_price_snapshot; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT unique_price_snapshot UNIQUE (product_id, recorded_at);


--
-- TOC entry 3356 (class 2606 OID 49207)
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: test_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- TOC entry 3358 (class 2606 OID 49203)
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: test_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- TOC entry 3360 (class 2606 OID 49205)
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: test_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- TOC entry 3349 (class 1259 OID 41073)
-- Name: idx_ingestion_runs_started_at; Type: INDEX; Schema: public; Owner: test_user
--

CREATE INDEX idx_ingestion_runs_started_at ON public.ingestion_runs USING btree (started_at DESC);


--
-- TOC entry 3350 (class 1259 OID 41072)
-- Name: idx_ingestion_runs_status; Type: INDEX; Schema: public; Owner: test_user
--

CREATE INDEX idx_ingestion_runs_status ON public.ingestion_runs USING btree (status);


--
-- TOC entry 3340 (class 1259 OID 41055)
-- Name: idx_price_history_product_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_price_history_product_time ON public.price_history USING btree (product_id, recorded_at);


--
-- TOC entry 3361 (class 1259 OID 49228)
-- Name: idx_refresh_expires_at; Type: INDEX; Schema: public; Owner: test_user
--

CREATE INDEX idx_refresh_expires_at ON public.refresh_tokens USING btree (expires_at);


--
-- TOC entry 3362 (class 1259 OID 49229)
-- Name: idx_refresh_token_hash; Type: INDEX; Schema: public; Owner: test_user
--

CREATE INDEX idx_refresh_token_hash ON public.refresh_tokens USING btree (token_hash);


--
-- TOC entry 3363 (class 1259 OID 49227)
-- Name: idx_refresh_user_id; Type: INDEX; Schema: public; Owner: test_user
--

CREATE INDEX idx_refresh_user_id ON public.refresh_tokens USING btree (user_id);


--
-- TOC entry 3353 (class 1259 OID 49226)
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: test_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- TOC entry 3354 (class 1259 OID 49225)
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: test_user
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- TOC entry 3369 (class 2620 OID 49209)
-- Name: users trg_update_users_updated_at; Type: TRIGGER; Schema: public; Owner: test_user
--

CREATE TRIGGER trg_update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- TOC entry 3366 (class 2606 OID 41056)
-- Name: price_history price_history_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_history
    ADD CONSTRAINT price_history_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- TOC entry 3367 (class 2606 OID 41061)
-- Name: products products_platform_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_platform_fkey FOREIGN KEY (platform) REFERENCES public.platforms(id) ON DELETE CASCADE;


--
-- TOC entry 3368 (class 2606 OID 49220)
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: test_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 3531 (class 0 OID 0)
-- Dependencies: 6
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO test_user;


--
-- TOC entry 3533 (class 0 OID 0)
-- Dependencies: 216
-- Name: TABLE platforms; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.platforms TO test_user;


--
-- TOC entry 3535 (class 0 OID 0)
-- Dependencies: 217
-- Name: SEQUENCE platforms_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.platforms_id_seq TO test_user;


--
-- TOC entry 3536 (class 0 OID 0)
-- Dependencies: 218
-- Name: TABLE price_history; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.price_history TO test_user;


--
-- TOC entry 3538 (class 0 OID 0)
-- Dependencies: 219
-- Name: SEQUENCE price_history_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.price_history_id_seq TO test_user;


--
-- TOC entry 3539 (class 0 OID 0)
-- Dependencies: 220
-- Name: TABLE products; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.products TO test_user;


--
-- TOC entry 3541 (class 0 OID 0)
-- Dependencies: 221
-- Name: SEQUENCE products_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.products_id_seq TO test_user;


--
-- TOC entry 2108 (class 826 OID 41066)
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO test_user;


-- Completed on 2026-09-29 22:19:41

--
-- PostgreSQL database dump complete
--

